* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI";
}

li {
  list-style: none;
}

a,
a:visited {
  color: white;
  text-decoration: none;
}

nav, .menu_sidebar{
  background: #11101d;
  color: #fff;
}
main {
  position:relative;
  display: flex;
  top: 50px;
}

section {
  padding : 1%;
}
section p {
  text-indent: 20px;
  padding: 5px;
}
